[submodule "soloud"]
	path = soloud
	url = https://github.com/jarikomppa/soloud.git
[submodule "miniaudio"]
	path = miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "minifetch"]
	path = minifetch
	url = https://github.com/KungPhoo/minifetch.git
[submodule "ba67-font"]
	path = ba67-font
	url = https://github.com/KungPhoo/ba67-font.git
